<center><h1>Chat App</h1></center>
<div class="login">
    <h3><center>Login</center></h3>
    <input type="text" id="loginName" placeholder="name" /><br><br>
    <input type="password" id="loginPassword" placeholder="password" /><br><br>
    <center><button id="loginButton">Login</button></center>
</div>
<div class="signup">
    <h3><center>Signup</center></h3>
    <input type="text" id="signupName" placeholder="name" /><br><br>
    <input type="password" id="signupPassword" placeholder="password" /><br><br>
    <input type="password" id="signupConfirmPassword" placeholder="confirm password" /><br><br>
    <center><button id="signupButton">Signup</button></center>
</div>

<script>
  $("#loginButton").click(function(){
    var username = $("#loginName").val();
    var password = $("#loginPassword").val();
    if (username && password) {
      $.post(
        '/login',
        {username: username, password:password},
        function () {
          window.location = "/chat";
        }
      ).fail(function(res){
        alert("Error: " + res.getResponseHeader("error"));
      });
    } else {
      alert("A username and password is required");
    }
  });
  $("#signupButton").click(function(){
    var username = $("#signupName").val();
    var password = $("#signupPassword").val();
    var confirmPassword = $("#signupConfirmPassword").val();
    if (username && password) {
      if (password === confirmPassword) {
        $.post(
          '/signup',
          {username: username, password:password},
          function () {
            window.location = "/chat";
          }
        ).fail(function(res){
          alert("Error: " + res.getResponseHeader("error"));
        });
      } else {
        alert("Passwords don't match");
      } 
    } else {
      alert("A username and password is required");
    }
  }); 
</script>